body{background-color: lightskyblue;}
#father{
  background-color: lightskyblue;
  position: absolute;
  width: 100%;
  height: 100%;
}
#clouds{
  background-image: url("public/clouds.png");
  height: 73px;
}
.bot{
  position: absolute;
  bottom: 0;
}
#mario{
  background-image: url("public/mario.png");
  height: 113px;
  width:239px;
  background-repeat: no-repeat; 
}
#base{
  background-image: url("public/base.png");
  height:14px;
  width:100%;
}